<!DOCTYPE html>
<html>
<head>
	<title>murp.us</title>
	<link rel="stylesheet" href="/styles/main.css" />
	<link rel="stylesheet" href="/styles/donuts.css" />
</head>

<body id="donuts">
	<div id="banner">
        <div id="banner-bagus">
            <a href="/">
                <img class="icon" src="/images/bagus.png">
            </a>
        </div>
		<div id="banner-path-container">
			<div class="banner-path"><a href="/">murp.us</a></div>
			<div class="banner-path"><a href="/donuts">donuts</a></div>
		</div>
	</div>

    <div id="content">
        <div id="about" class="donut-review about">
            <span>these are some notes about donut shops in the east bay compiled by me and my girlfriend, letty. if you know of any more places that we might like, feel free to email me at <strong id="mailto" class="glazed-pointer">(click me)</strong>!</span>
        </div>
        <!--

        steps to add a new post:
             - donux
             - more donux
             - sosijegnchiis crasant
             - look at DONUTS.md

        REVIEW TEMPLATE

        <div class="donut-review" id="CHANGE ME">
            <div class="review-title">
                <a href="CHANGE ME" class="donut-shop">
                    CHANGE ME
                </a>
                <span class="date">CHANGE ME</span>
            </div>
            <div class="review-content">

                <div class="donut">
                    <div class="donut-type">
                        CHANGE ME
                    </div>
                    <div class="donut-notes">
                        CHANGE ME
                    </div>
                </div>

            </div>
        </div>

        -->

        <div class="donut-review" id="king-pin-donuts">
            <div class="review-title">
                <a href="#king-pin-donuts" class="donut-shop">
                    king pin donuts
                </a>
                <span class="date">06 june 2020</span>
            </div>
            <div class="review-content">

                <div class="donut">
                    <div class="donut-notes">
                        extortionate and highly rated by virtue of being in the middle of a big college campus.
                    </div>
                </div>

            </div>
        </div>

        <div class="donut-review" id="bobs-donuts">
            <div class="review-title">
                <a href="#bobs-donuts" class="donut-shop">
                    bob's donuts
                </a>
                <span class="date">30 may 2020</span>
            </div>
            <div class="review-content">

                <div class="donut">
                    <div class="donut-type">
                        buttermilk
                    </div>
                    <div class="donut-notes">
                        made our pilgrimage to bob’s donuts in sf. while strategizing outside i suggested that we try the buttermilk donuts here, since the guy in front of us was ordered three. kevin said “i thought you swore off them” to which i made a weird grunting noise and just shrugged. maybe donuts, much like dialects and music, develop regional differences. the oakland native bms are bow-shaped and light brown, bob’s bms were a single dark-brown hump with a light sheen of glaze. not as sweet as the others, not as crunchy, but kevin said “this is the first one that actually tastes like buttermilk”.
                    </div>
                </div>
                <div class="donut">
                    <div class="donut-type">
                        raised glazed
                    </div>
                    <div class="donut-notes">
                        as beautiful as the gg version, slightly less under-cooked so not as moist and chewy but still wonderful
                    </div>
                </div>
                <div class="donut">
                    <div class="donut-type">
                        chocolate croissant
                    </div>
                    <div class="donut-notes">
                        pretty good
                    </div>
                </div>
                <div class="donut">
                    <div class="donut-type">
                        ham and cheese croissant
                    </div>
                    <div class="donut-notes">
                        definitely not their speciality. oakland donut places occupy the breakfast sandwich niche too, bob’s is clearly just there to give you your sugar fix.
                    </div>
                </div>

            </div>
        </div>

        <div class="donut-review" id="golden-gate-donuts-2">
            <div class="review-title">
                <a href="#golden-gate-donuts-2" class="donut-shop">
                    golden gate donuts round >1
                </a>
                <span class="date">27 may 2020</span>
            </div>
            <div class="review-content">

                <div class="donut">
                    <div class="donut-type">
                        raised glazed
                    </div>
                    <div class="donut-notes">
                        it took over a month and 10 donut stores to be able to fully appreciate this donut. the apotheosis of donuts. unbelievably soft almost ethereal. slightly undercooked so that the dough dissolves down into one satisfyingly al dente bite before disappearing.
                    </div>
                </div>
                <div class="donut">
                    <div class="donut-type">
                        buttermilk
                    </div>
                    <div class="donut-notes">
                        there’s no way this donut could be as good as what we’d imagined it to be, we had accepted that. still, it was delicious, not artificial tasting like any of the others. rich and tangy a little like the cultured butter i tried to make once, crunchy on the outside.
                    </div>
                </div>

            </div>
        </div>

        <div class="donut-review" id="dicks-donuts">
            <div class="review-title">
                <a href="#dicks-donuts" class="donut-shop">
                    dick's donuts
                </a>
                <span class="date">23 may 2020</span>
            </div>
            <div class="review-content">

                <div class="donut">
                    <div class="donut-type">
                        buttermilk
                    </div>
                    <div class="donut-notes">
                        apparently we’re stubborn mfs. got another buttermilk donut here, a chonker like the last one. our blind faith paid off and this time it was actually good. instead of tasting artificially floral it was buttery and smooth. still not tangy like the one from gg, but maybe we should go back and recalibrate our expectations.
                    </div>
                </div>
                <div class="donut">
                    <div class="donut-type">
                        raised glazed
                    </div>
                    <div class="donut-notes">
                        taken aback by our first bite. we were starting to run out of adjectives to describe and distinguish all the raised glazed donuts we’ve tried from each other. how many synonyms are there for the word fluffy? finally one that tasted different to the others. kind of cake-like. more dense and less ethereal. twice as thick as the usual ones, almost as if they stacked and squashed two of them together. light and buttery nonetheless.
                    </div>
                </div>

            </div>
        </div>

        <div class="donut-review" id="dream-fluff">
            <div class="review-title">
                <a href="#dream-fluff" class="donut-shop">
                    dream fluff
                </a>
                <span class="date">20 may 2020</span>
            </div>
            <div class="review-content">

                <div class="donut">
                    <div class="donut-type">
                        buttermilk
                    </div>
                    <div class="donut-notes">
                        were we just dreaming? that first buttermilk donut from gg was revelatory, tangy and rich with a nice crunch. we’ve tried the buttermilk donuts at three different stores since and none of them have come even close to the “maybe the best donut i’ve had yet” (kevin) status of the first one. maybe i’m not being fair, this one was a little better than the other two, it wasn’t as artificial tasting, i thought it tasted rich and rounded like a buttermilk pancake, kevin thought it tasted specifically like ‘rita’s mango water-ice’ (is that a compliment?). i think i’m going to call a moratorium on b-milks until we go back to gg and verify whether we’ve set a false standard.
                    </div>
                </div>
                <div class="donut">
                    <div class="donut-type">
                        coffee
                    </div>
                    <div class="donut-notes">
                        good coffee says kevin, tasted like ‘a pancake’.
                    </div>
                </div>
                <div class="donut">
                    <div class="donut-type">
                        cinnamon roll (small)
                    </div>
                    <div class="donut-notes">
                        i figured since we biked twice as far as we usually would we should get a few more donuts and try some new things. ended up buying four donuts for the two of us, pretended to exercise restraint by getting a small cinnamon roll instead of a face-sized one. first cinnamon roll we’ve tried, it was pretty good and grew on me the more bites i took. still, i think if you’re going to get a cinnamony donut you might as well get an apple fritter. that being said we haven’t had any twists yet, im holding out hope that a cinnamon twist might be sizeable enough to be fluffy and crunchy, something apple fritters generally are not meant to be.
                    </div>
                </div>
                <div class="donut">
                    <div class="donut-type">
                        pineapple bear claw
                    </div>
                    <div class="donut-notes">
                        thought it was an almond bear claw. pastry was pretty dry and unflavorful, kevin kinda liked it cause it ’had a nice pineapple flavor’. might leave that remaining half uneaten.
                    </div>
                </div>
                <div class="donut">
                    <div class="donut-type">
                        raised glazed
                    </div>
                    <div class="donut-notes">
                        mm as good as it gets anywhere. not chewy like the ones we’ve had lately, this one was fluffy throughout.
                    </div>
                </div>
                <div class="donut">
                    <div class="donut-type">
                        sausage egg and cheese croissant
                    </div>
                    <div class="donut-notes">
                        “we might have a champion”. solid croissant, gooey cheese, delectable double-sausage patties, and the most downy, velvetty, creamy, egg we’ve seen yet. this egg even beats the yellow sponge that redeemed our sad trip all the way down to alameda for a selection of 5 stale donuts.
                    </div>
                </div>

            </div>
        </div>

        <div class="donut-review" id="orbit-donuts">
            <div class="review-title">
                <a href="#orbit-donuts" class="donut-shop">
                    orbit donuts
                </a>
                <span class="date">16 may 2020</span>
            </div>
            <div class="review-content">

                <div class="donut">
                    <div class="donut-notes">
                        should probably just be called orbit coffee. only had mini beignets that were a quarter of the size but double the price of regular donuts. they were pretty yummy beignets at least.
                    </div>
                </div>

            </div>
        </div>

        <div class="donut-review" id="starlight-donuts">
            <div class="review-title">
                <a href="#starlight-donuts" class="donut-shop">
                    starlight donuts
                </a>
                <span class="date">13 may 2020</span>
            </div>
            <div class="review-content">
                <div class="donut">
                    <div class="donut-type">
                        sausage egg and cheese croissant
                    </div>
                    <div class="donut-notes">
                    "tasted preztely... it was a salty croissant... that was kind of thick and chewy... really gooey cheese... really yummy cheese... really yummy sausage too" - kevin. pretty good croissant all-round, apparently.
                    </div>
                </div>
                <div class="donut">
                    <div class="donut-type">
                        raised glazed
                    </div>
                    <div class="donut-notes">
                        kevin thought it was unremarkable. "oh wait, i'm thinking of my first bite, the rest of the bites were really good, it was really chewy". do concur, it wasn't light and fluffy like the other rgs, it was slightly more chewy and doughy and I loved that. this could be the best raised glazed yet, "[it] had some... gravity". also wasn't as sweet as the others.
                    </div>
                </div>
                <div class="donut">
                    <div class="donut-type">
                        buttermilk
                    </div>
                    <div class="donut-notes">
                        almost exactly the same as the one from lee's on telegraph. the greasy parts were yummy, the drier parts were weirdly floral.
                    </div>
                </div>
            </div>
        </div>
        <div class="donut-review" id="alameda-bagels-and-donuts">
            <div class="review-title">
                <a href="#alameda-bagels-and-donuts" class="donut-shop">
                    alameda bagels and donuts
                </a>
                <span class="date">9 may 2020</span>
            </div>
            <div class="review-content">
                <div class="donut">
                    <div class="donut-type">
                        sausage egg and cheese croissant
                    </div>
                    <div class="donut-notes">
                        pretty flaky croissant, not quite as buttery as the one from lee's but up there among the favorites purely on a croissant basis. fluffiest egg yet. good sausage. okay cheese that kevin claimed just wasn't very flavorful or gooey.
                    </div>
                </div>
                <div class="donut">
                    <div class="donut-type">
                        blueberry cake donut
                    </div>
                    <div class="donut-notes">
                        decent blueberry donut. didn't taste very fresh and the store had a tiny donut selection overall. still pretty yummy and crispy around the edges.
                    </div>
                </div>
            </div>
        </div>
        <div class="donut-review" id="lees-donut-and-croissant">
            <div class="review-title">
                <a href="#lees-donut-and-croissant" class="donut-shop">
                    lee's donut and croissant
                </a>
                <span class="date">6 may 2020</span>
            </div>
            <div class="review-content">
                <div class="donut">
                    <div class="donut-type">
                        sausage egg and cheese croissant
                    </div>
                    <div class="donut-notes">
                        best actual croissant hands down, no wonder the store is called 'donut and croissant'. was a little skimpy on the filling, kevin wasn't pleased to find sausage in only the middle 50% of the sandwich. pretty cheesy at least. he thinks the golden gate sec is still the best, probably because they put two sausage patties in there.
                    </div>
                </div>
                <div class="donut">
                    <div class="donut-type">
                        raised glazed
                    </div>
                    <div class="donut-notes">
                        decent, light as we've come to expect, not quite as fragrant and fluffy as gg or cd.
                    </div>
                </div>
                <div class="donut">
                    <div class="donut-type">
                        buttermilk
                    </div>
                    <div class="donut-notes">
                        the second buttermilk we've tried. maybe gg gave us unrealistic expectations, where the gg bm donut was tangy and buttery, this one tasted a little artificial and bland and wasn't even that crunchy. now that we've decided to bring donuts back to our flatmate we can try more donuts at every store.
                    </div>
                </div>
            </div>
        </div>
        <div class="donut-review" id="golden-gate-donuts">
            <div class="review-title">
                <a href="#golden-gate-donuts" class="donut-shop">
                    golden gate donuts
                </a>
                <span class="date">3 may 2020</span>
            </div>
            <div class="review-content">
                <div class="donut">
                    <div class="donut-type">
                        buttermilk donut, regular glaze
                    </div>
                    <div class="donut-notes">
                        buttermilk donuts have the crunch and crust of old-fashioned donuts but are tangier and generally more flavorful. why get regular old-fashioned donuts if you can get buttermilk ones?
                    </div>
                </div>
                <div class="donut">
                    <div class="donut-type">
                        french cruller
                    </div>
                    <div class="donut-notes">
                        i get why chinese oil sticks are also called crullers now since they’re identical in texture. crullers are lighter than the even regular raised donuts. the crumb is elastic and maybe a little rubbery. dough tastes pretty eggy, not sure it’s my favorite type of donut.
                    </div>
                </div>
                <div class="donut">
                    <div class="donut-type">
                        classic raised glaze
                    </div>
                    <div class="donut-notes">
                        got a little squished on the bike ride home. so light and fluffy i can almost pretending i’m not eating pure sugar and grease. not too sweet as glazed donuts go, great tasting dough. might become my favorite donut species.
                    </div>
                </div>
                <div class="donut">
                    <div class="donut-type">
                        donut holes
                    </div>
                    <div class="donut-notes">
                        soft clouds of sugar. definitely donut holes from raised donuts, not cake donuts like you’d get at dunkin or something, these are yummier. pretty fresh.
                    </div>
                </div>
                <div class="donut">
                    <div class="donut-type">
                        apple fritter
                    </div>
                    <div class="donut-notes">
                        not sure my body could take an apple fritter after a while sausage egg and cheese croissant, we’ll be back for this one.
                    </div>
                </div>
                <div class="donut">
                    <div class="donut-type">
                        sausage egg and cheese croissant
                    </div>
                    <div class="donut-notes">
                    </div>
                </div>
            </div>
        </div>
        <div class="donut-review" id="happy-donuts-oakland">
            <div class="review-title">
                <a href="#happy-donuts-oakland" class="donut-shop">
                    happy donuts (clay street, oakland)
                </a>
                <span class="date">29 april 2020</span>
            </div>
            <div class="review-content">
                <div class="donut">
                    <div class="donut-type">
                        apple fritter
                    </div>
                    <div class="donut-notes">
                        pretty generous with the apple. waay too much icing sugar glaze on the outside, it pooled into the divots so you could see streaks of white, probably a good way to tell if your fritter will make your teeth hurt. decent flavor though hard to tell through all the sugar.
                    </div>
                </div>
                <div class="donut">
                    <div class="donut-type">
                        old fashioned donut
                    </div>
                    <div class="donut-notes">
                        pretty good, not as crispy as the colonial donuts one.
                    </div>
                </div>
            </div>
        </div>
        <div class="donut-review" id="colonial-donuts">
            <div class="review-title">
                <a href="#colonial-donuts" class="donut-shop">
                    colonial donuts
                </a>
                <span class="date">22 april 2020</span>
            </div>
            <div class="review-content">
                <div class="donut">
                    <div class="donut-type">
                    </div>
                    <div class="donut-notes">
                        open 24hrs apparently, we should take advantage of that more often.
                    </div>
                </div>
                <div class="donut">
                    <div class="donut-type">
                        apple fritter
                    </div>
                    <div class="donut-notes">
                        a little disappointing if i’m honest. one one sad limp cube of apple in the entire thing. pretty crispy and caramelized at the edges though.
                    </div>
                </div>
                <div class="donut">
                    <div class="donut-type">
                        raised glaze
                    </div>
                    <div class="donut-notes">
                        can’t remember exactly what it tasted like, only remember looking at each other and thinking we should get this one more often. light and fluffy for sure.
                    </div>
                </div>
                <div class="donut">
                    <div class="donut-type">
                        blueberry cake donut
                    </div>
                    <div class="donut-notes">
                        tastes exactly like a rich blueberry muffin with a crispy outside. kevin’s favorite.
                    </div>
                </div>
                <div class="donut">
                    <div class="donut-type">
                        old fashioned donut
                    </div>
                    <div class="donut-notes">
                        my favorite part of old fashioned donuts is actually that they are easy to pull apart into chunks and eat with someone else.
                    </div>
                </div>
            </div>
        </div>
        <div class="donut-review" id="happy-donuts-albany">
            <div class="review-title">
                <a href="#happy-donuts-albany" class="donut-shop">
                    happy donuts (albany)
                </a>
                <span class="date">19 april 2020</span>
            </div>
            <div class="review-content">
                <div class="donut">
                    <div class="donut-type">
                        ube donut
                    </div>
                    <div class="donut-notes">
                        ube’s a pretty delicate flavor but it still came through. cake donuts aren’t my favorite but this one was pretty fluffy. nice thin shell of hardened glaze on the outside.
                    </div>
                </div>
                <div class="donut">
                    <div class="donut-type">
                        apple fritter
                    </div>
                    <div class="donut-notes">
                        where it all started. loaded with apple, very cinnamony. deeply caramelized edges. the first and best apple fritter we’ve had yet.
                    </div>
                </div>
            </div>
        </div>
    <script type="text/javascript" src="/js/utils.js"></script>
    <script>
    window.onload = function() {
        var emailAddress = "kevin" + "@" + "murp.us";
        replaceWithLinkOnClick("mailto", "mailto:" + emailAddress, emailAddress);
    };
    </script>
    </body>
</html>
