<!DOCTYPE html>
<html>
<head>
	<title>murp.us</title>
	<link rel="stylesheet" href="/styles/main.css" />
</head>

<body>
	<div id="banner">
        <div id="banner-bagus">
            <a href="/">
                <img class="icon" src="/images/bagus.png">
            </a>
        </div>
		<div id="banner-path-container">
			<div class="banner-path"><a href="/">murp.us</a></div>
		</div>
	</div>

    <div id="content">
        <center>
            <a href="/images/onion.jpeg">
                <img src="/images/onion@200x200.jpeg" alt="in days of yore">
            </a>
        </center>
        <br>
        Hi, welcome to my website!  I'm Kevin, and I currently live in Oakland. I like math &amp;&amp; reading &amp;&amp; playing soccer &amp;&amp; programming &amp;&amp; playing guitar &amp;&amp; eating bagels. If you need to reach me (or know of any good donut shops in the east bay), you can email me at <strong id="mailto" class="pointer">(click me)</strong>.
        <hr>
        <h3>links</h3>
        <ul>
            <li>my personal <a target="_blank" href="https://github.com/keggsmurph21/">GitHub</a> page
            <li>my <a target="_blank" href="/resume">resume</a>
            <li>my <a target="_blank" href="https://last.fm/user/keggsmurph21">last.fm profile</a>
            <li><a target="_blank" href="/catonline">CatOnline</a>, an online catan app i wrote in javascript
        </ul>
    </div>
    <script type="text/javascript" src="/js/utils.js"></script>
    <script>
    window.onload = function() {
        var emailAddress = "kevin" + "@" + "murp.us";
        replaceWithLinkOnClick("mailto", "mailto:" + emailAddress, emailAddress);
    };
    </script>
</body>
</html>
