<!-- views/index.ejs -->
<!DOCTYPE html>
<html>
<head>
	<title>murp.us</title>
	<link rel="stylesheet" href="/styles/main.css" />
</head>

<body>
	<div id="banner">
		<ul>
			<li><a href="/">murp.us</a></li>
		</ul>
		<hr>
	</div>

	<ul>
		<li>
			<a href="/catonline">CatOnline</a> web app
		</li>
		<li>
			Bootstrap <a href="/boot">script</a> for GNU/Linux Live CDs
		</li>
	</ul>

</body>
</html>
