<!-- views/index.ejs -->
<!DOCTYPE html>
<html>
<head>
	<title>Murp.us</title>
	<link rel="stylesheet" href="/styles/main.css" />
</head>

<body>
	<div id="banner">
		<ul>
			<li><a href="/">Murp.us</a></li>
		</ul>
		<hr>
	</div>

</body>
</html>
