<!DOCTYPE html>
<html>
<head>
	<title>murp.us | resume</title>
	<link rel="stylesheet" href="/styles/main.css" />
    <style type="text/css">
#name {
    margin-bottom: 0.2em;
}
#links {
    font-size: 0.8em;
}
.skill-level-indicator::before {
    content: "\25cf ";
}
.expert {
    color: darkgreen;
}
.comfortable {
    color: forestgreen;
}
.familiar {
    color: mediumseagreen;
}
    </style>
</head>

<body>
	<div id="banner">
        <div id="banner-bagus">
            <a href="/">
                <img class="icon" src="/images/bagus.png">
            </a>
        </div>
		<div id="banner-path-container">
			<div class="banner-path"><a href="/">murp.us</a></div>
			<div class="banner-path"><a href="/resume">resume</a></div>
		</div>
	</div>

    <div id="content">

        <h2 id="name">kevin jerome murphy</h2>
        <span id="links">
            <strong id="callto" title="click to view phone number" class="pointer">(phone #)</strong>
            &middot; <strong id="mailto" title="click to view email address" class="pointer">(email address)</strong>
            &middot; <a target="_blank" title="github" href="https://github.com/keggsmurph21">github</a>
            &middot; <a target="_blank" title="website" href="/">website</a>
            &middot; <a target="_blank" title="pdf version of resume" href="https://raw.githubusercontent.com/keggsmurph21/resume/master/resume.pdf">pdf</a>
        </span>

        <br>

        <a href="#education"><h5 id="education">education</h5></a>
        <ul>
            <li>swarthmore college
                <span class="right date">(2014 - 2019)</span>
                <ul>
                    <li>bachelor of arts in math &amp; ling with honors
                    <li>gpa - 3.67
                    <li>men's soccer
                    <li>math
                        <ul>
                            <li>complex analysis
                            <li>real analysis
                            <li>modern algebra (&amp; honors seminar)
                            <li>geometry (&amp; honors seminar)
                            <li>honors multivariable calculus
                            <li>honors linear algebra
                        </ul>
                    <li>ling
                        <ul>
                            <li><a target="_blank" title="cky-parser on github" href="https://github.com/keggsmurph21/cky-parser">honors capstone</a>
                            <li>field methods
                            <li>syntax
                            <li>semantics
                            <li>phonetics &amp; phonology
                            <li>linguistic typology
                        </ul>
                    <li>cs
                        <ul>
                            <li>algorithms
                            <li>natural language processing
                            <li>computer systems
                            <li>data structures &amp; algorithms
                        </ul>
                </ul>
        </ul>

        <a href="#work"><h5 id="work">work</h5></a>
        <ul>
            <li>
                software engineer @ <a target="_blank" href="https://everlaw.com">everlaw</a>
                <span class="right date">(2019 - present)</span>
            <li>
                software dev intern @ <a target="_blank" href="https://gist.github.com/keggsmurph21/4cce74eb0542373417b2e0366ab9394d">gsoc / apertium</a>
                <span class="right date">(2018)</span>
            <li>
                lab assistant @ <a target="_blank" href="https://www.swarthmore.edu/SocSci/Linguistics/EndangeredLanguages/">laboratory for endangered languages</a>
                <span class="right date">(2017 - 2019)</span>
            <li>
                associate @ <a target="_blank" href="https://www.swarthmore.edu/its/student-employment">swarthmore its</a>
                <span class="right date">(2016)</span>
            <li>
                pi-rate @ <a target="_blank" href="https://www.swarthmore.edu/math-stat-academic-support/math-27-pi-rate-sessions">swarthmore math dept</a>
                <span class="right date">(2016 - 2017)</span>
            <li>
                statistician @ <a target="_blank" href="https://swarthmoreathletics.com/sports/2013/6/6/GEN_0606135007.aspx">swarthmore athletics</a>
                <span class="right date">(2015 - 2019)</span>
        </ul>

        <a href="#skillz"><h5 id="skillz">skillz</h5></a>
        <ul>
            <li>languages
                <ul>
                    <li><span title="expert" class="skill-level-indicator expert"></span> python
                    <li><span title="expert" class="skill-level-indicator expert"></span> typescript
                    <li><span title="expert" class="skill-level-indicator expert"></span> bash
                    <li><span title="comfortable" class="skill-level-indicator comfortable"></span> java
                    <li><span title="comfortable" class="skill-level-indicator comfortable"></span> c++
                    <li><span title="comfortable" class="skill-level-indicator comfortable"></span> sql (mysql, postgresql, sqlite, mongodb)
                    <li><span title="comfortable" class="skill-level-indicator comfortable"></span> html &amp; css
                    <li><span title="comfortable" class="skill-level-indicator comfortable"></span> LaTeX
                    <li><span title="familiar" class="skill-level-indicator familiar"></span> haskell
                    <li><span title="familiar" class="skill-level-indicator familiar"></span> php
                    <li><span title="familiar" class="skill-level-indicator familiar"></span> c
                    <li><span title="familiar" class="skill-level-indicator familiar"></span> ti-basic
                </ul>
            <li>tools
                <ul>
                    <li><span title="expert" class="skill-level-indicator expert"></span> git
                    <li><span title="expert" class="skill-level-indicator expert"></span> vim
                    <li><span title="comfortable" class="skill-level-indicator comfortable"></span> aws
                    <li><span title="comfortable" class="skill-level-indicator comfortable"></span> ansible
                    <li><span title="comfortable" class="skill-level-indicator comfortable"></span> terraform
                    <li><span title="comfortable" class="skill-level-indicator comfortable"></span> packer
                    <li><span title="comfortable" class="skill-level-indicator comfortable"></span> docker
                    <li><span title="comfortable" class="skill-level-indicator comfortable"></span> illustrator
                    <li><span title="comfortable" class="skill-level-indicator comfortable"></span> photoshop
                </ul>
            <li>platforms
                <ul>
                    <li><span title="expert" class="skill-level-indicator expert"></span> linux
                    <li><span title="expert" class="skill-level-indicator expert"></span> raspberry pi
                    <li><span title="comfortable" class="skill-level-indicator comfortable"></span> macOS
                    <li><span title="comfortable" class="skill-level-indicator comfortable"></span> serenityOS
                    <li><span title="familiar" class="skill-level-indicator familiar"></span> windows
                </ul>
        </ul>

        <a href="#references"><h5 id="references">references</h5></a>
        available upon request

        <hr>

        <center>
            last updated <span class="date">30 April, 2020</span>
        </center>
    </div>
    <script type="text/javascript" src="/js/utils.js"></script>
    <script>
    window.onload = function() {
        var emailAddress = "kevin" + "@" + "murp.us";
        replaceWithLinkOnClick("mailto", "mailto:" + emailAddress, emailAddress);
        var phoneNumber = "(484) " + "478-" + "4880";
        replaceWithLinkOnClick("callto", "tel:" + phoneNumber, phoneNumber);
    };
    </script>
</body>
</html>
