<!-- views/index.ejs -->
<!DOCTYPE html>
<html>
<head>
	<title>murp.us &mdash; SheetsCLI</title>
	<link rel="stylesheet" href="/styles/main.css" />
</head>

<body>
	<div id="banner">
		<ul>
			<li><a href="/">murp.us</a></li>
		</ul>
		<hr>
	</div>

    <p>
    This is the homepage for the <tt>sheets-cli</tt> oauth app.  There's nothing here, but Google wants me to have an about page, so here it is.
    </p>

</body>
</html>
