<!DOCTYPE html>
<html>
<head>
	<title>murp.us | Damp, dirt, dust</title>
	<link rel="stylesheet" href="/styles/main.css" />
	<link rel="stylesheet" href="/styles/text.css" />
</head>

<body>
  <div id="content">

		<div id="banner">
			<ul>
				<li><a href="/">murp.us</a></li>
				<li>/</li>
				<li><a href="/texts">Texts</a></li>
				<li>/</li>
				<li><a href="/texts/damp-dirt-dust">Damp, dirt, dust</a></li>
			</ul>
			<hr>
		</div>

    <span id="date" class="date">24 April, 2018</span>
    <h3 id="title">Damp, dirt, dust</h3>

		<p>
			This city has a storied history with dust.  It was always going to be a tough battle, as is often the case when people decide to pave over a swamp.  The great cities of the United States have the same problem: Philadelphia, Charleston, New York.
		</p>
		<p>
			But this stalemate is at a different phase.  After the rains, water mixes with the mud, hiding under the crosshatched tiles.  In this Cambrian brew, the city wades for days, until the Sun has convinced the flood to continue on its watery way.
		</p>

		<hr>

		<p>
			The strangest part is the tunnels.  Entire city-blocks will withdraw their services for days at a time, while the poor rearrange the mud, wheeling it around and piling it like an urban barrow.  After they’ve had their fun playing in the dirt, the workers fill up their holes, replace the concrete, and carry on with their industry.
		</p>

		<hr>

		<p>
			The plastic covers hug the books to keep the ants and cats away.  The pages crisp and yellow under the cellophane embrace.  Lifting a book off the shelf sends a puff of dust into the crowded empty alleyways.  Converted dumpsters unfolded, twisted, and taught to bear fruit.  Metal spins around, creaking with laughter and chipped paint.  The book dust is not really dust, but more like a temporary transformation of the earth, tired of lazing in the shady sunlight, opting instead to lilt steadily outwards from the park patches, radiating ever outwards.
		</p>
		<p>
			The dust drifts across the thick roots, leaving a fine coat on the milky nude statues keeping watch over their marks.  It gums up the corner grills, mixing with the mayonnaise and grease of a thousand lunches.
		</p>
		<p>
			Dirt like spilled coffee seeping through the cracked sidewalk.  Dirt reclaiming the child’s shoe and usurping its grip on the sock.  Dirt kicked up by the exercisers, attuning themselves to the life of concrete and steel.  The child rolls in the dirt, gazing through the ramas and smiling in his mask of earth.
		</p>

  </div>
</body>
</html>
