<!DOCTYPE html>
<html>
<head>
	<title>murp.us | Texts</title>
	<link rel="stylesheet" href="/styles/main.css" />
</head>

<body>
	<div id="banner">
        <div id="banner-bagus">
            <a href="/">
                <img class="icon" src="/images/bagus.png">
            </a>
        </div>
		<div id="banner-path-container">
			<div class="banner-path"><a href="/">murp.us</a></div>
			<div class="banner-path"><a href="/texts">texts</a></div>
		</div>
	</div>
    <div id="content">
        <h3>Arcana &amp; miscellanea</h3>
        <ul id="miscellanea">
            <li>
                <a class="title" href="/texts/scrambled-ramblings">Scrambled ramblings</a>
                <span class="date">(7 June, 2018)</span>
            </li>
            <li>
                <a class="title" href="/texts/lepidopterology">Lepidopterology</a>
                <span class="date">(22 May, 2018)</span>
            </li>
            <li>
                <a class="title" href="/texts/damp-dirt-dust">Damp, dirt, dust</a>
                <span class="date">(24 April, 2018)</span>
            </li>
            <li>
                <a class="title" href="/texts/musings-on-museums">Musings on museums</a>
                <span class="date">(11 April, 2018)</span>
            </li>
        </ul>
    </div>
</body>
</html>
