<!-- views/texts/index.ejs -->
<!DOCTYPE html>
<html>
<head>
	<title>Murp.us | Texts</title>
	<link rel="stylesheet" href="/styles/main.css" />
	<link rel="stylesheet" href="/styles/text.css" />
</head>

<body>
  <div id="content">
		<div id="banner">
			<ul>
				<li><a href="/">Murp.us</a></li>
				<li>/</li>
				<li><a href="/texts">Texts</a></li>
			</ul>
			<hr>
		</div>

  	<h3>Ramblings &amp; miscellanea</h3>
    <ul id="miscellanea">
      <li>
        <a class="title" href="/texts/lepidopterology">Lepidopterology</a>
        <span class="date">(22 May, 2018)</span>
      </li>
			<li>
        <a class="title" href="/texts/damp-dirt-dust">Damp, dirt, dust</a>
        <span class="date">(24 April, 2018)</span>
      </li>
			<li>
        <a class="title" href="/texts/musings-on-museums">Musings on museums</a>
        <span class="date">(11 April, 2018)</span>
      </li>
    </ul>
  </div>
</body>
</html>
