<!DOCTYPE html>
<html>
<head>
	<title>murp.us | Lepidopterology</title>
	<link rel="stylesheet" href="/styles/main.css" />
	<link rel="stylesheet" href="/styles/text.css" />
</head>

<body>
  <div id="content">
		<div id="banner">
			<ul>
				<li><a href="/">murp.us</a></li>
				<li>/</li>
				<li><a href="/texts">Texts</a></li>
				<li>/</li>
				<li><a href="/texts/lepidopterology">Lepidopterology</a></li>
			</ul>
			<hr>
		</div>

    <span id="date" class="date">22 May, 2018</span>
    <h3 id="title">Lepidopterology</h3>

    <p>
      The walls of the new exhibit will be built of butterfly wings.  The beauty of flight will at last be apprehended for the general public.  What better way to understand man’s interaction with his environment than in a hall pierced by the natural light of the sun, allowing the natural breeze of the afternoon to lift his spirits.
    </p>
    <p>
      Obviously, such an undertaking is not easily effected.  Experts must go out to the Field and painstakingly beat the long grasses until the effervescent creatures take flight.  Once in the air, they are difficult to catch, and harder even to do so without damaging them.  Early in its construction, the engineers had to reckon with this issue of damaged wings.  The special butterfly bullets, although developed in the advanced labs in the capital, are not perfect.  To be able to hit only the tiny insect brain without tearing the wings requires excellent marksmanship.  Indubitably, the museum’s hunters need many years of university training to hone their skills.
    </p>
    <p>
      Recent advances in chemical technologies might eliminate this problem altogether.  Museum planes can now fly over a field with their disarming dispensers, trailed by a horde of harvesters who simply collect the limp bodies.
    </p>
    <p>
      However, this doesn’t solve the other major technical hurdle of the collection.  Even greater artistry and delicate craft is necessary to stitch the together the kaleidoscopic patterns.  The wild butterflies contain shapes and colors fused together fused together in the typically haphazard manner of the wild: schizophrenic, disorienting, lacking a master plan.  This would do in the museum: think of the children! think of the delicate eyes!  People come to see the beauty of Nature, not a quixotic quilt.  A natural understanding of the butterfly’s beauty requires careful framing of the material.  The butterfly is a complicated creature, and no one knows this better than the lepidopterologist.  There are contexts and situations to be isolated, curated, and maintained.  Otherwise the designs too foreign and alien, signifiers without signs.  Better to let the experts practice their craft.  Only knowledge can beget knowledge.  And, as an institution of knowledge, the museum is dutifully bound to its task.
    </p>

  </div>
</body>
</html>
