<!DOCTYPE html>
<html>
<head>
	<title>Murp.us | Damp, dirt, dust</title>
	<link rel="stylesheet" href="/styles/main.css" />
	<link rel="stylesheet" href="/styles/text.css" />
</head>

<body>
  <div id="content">

		<div id="banner">
			<ul>
				<li><a href="/">Murp.us</a></li>
				<li>/</li>
				<li><a href="/texts">Texts</a></li>
				<li>/</li>
				<li><a href="/texts/musings-on-museums">Musings on museums</a></li>
			</ul>
			<hr>
		</div>

    <span id="date" class="date">11 April, 2018</span>
    <h3 id="title">Musings on museums</h3>

		<p>
			Museums that focus on the human subject occupy a peculiar space within the public consciousness.  Ostensibly, museums in general exist to enable the masses to access the fruits of high culture or scientific inquiry.  In this regard, certain museums do indeed fulfill their objectives.  It is hard to find fault with the model of museums dedicated to fine arts: many artists spend their careers pining for the possibility of showcasing their works in museum galleries, and having access to such works is a general public utility.  Fine arts museums as institution thus provide opportunities for careers in the arts and enrich the cultural landscape.  In this way, the goals of the museum producers (<i>i.e.</i> the artists) and the museum consumers (<i>i.e.</i> the visitors) are aligned.
		</p>
		<p>
			Once we begin to examine other models of museums, this vision of symbiotic productivity begins to fall away.  For example, museums of natural sciences provide a similar public service, collecting artifacts and manifestations of knowledge that would normally be impossible for any particular person to experience on their own.  Yet, obviously, there is no sense of reciprocity here.  Objects of the natural sciences (excluding biology here, which probably belong in the next category) are just that: objects.  Rocks or stars or fossils have no subjective experience of their own.  Thus the idea of a reciprocal exchange does not exactly apply.  Instead, the museum curator takes on more of a role as a harvester or gatherer of items from a specific domain.  Obviously, there is a lot to say about the critical relationship between the bodies of knowledge built up around these objects and the particular ways in which museums fit into that constellation of modern institutions, but that is beyond the scope of this paper.
		</p>
		<p>
			A clearer example of where the museum model fails more concretely is the museum of anthropology (or history, culture, language, etc.).  I understand this scenario to include all instances where the objects of study have a subjective life of their own.  Simply put, we immediately enter dangerous territory when we start putting other human beings in museums.  First of all, this arrangement implies a tacit understanding (between museum owners and consumers) of what would make sense to showcase in such an environment.  Only those things tagged as strange, unusual, bizarre, exotic, etc. would have any place.  By definition, a museum of things already familiar would not be exciting enough to the public to be viable.  Beyond small niches, no one would be interested in visiting an exhibition on office chairs, for example.  Thus museum directors are encouraged to maintain a distinction between the familiar and unfamiliar, the known and the unknown, the self and the other.  As we have seen repeatedly throughout our studies, these modes of understanding the world (which are direct descendants of “Enlightened” scientific positivism) provided the intellectual framework that allowed colonialism and imperialism to flourish.  The ability to designate another human being as worthy of display in a glass case is an eerie power to reflect on.
		</p>
		<p>
			Further to the point developed above, a human focused museum radically departs from any ideas of reciprocity.  There is no Patagonian tribe who has been waiting years for the opportunity to showcase the bones of their ancestors in a distant and culturally alien city.  Instead, the operators of these sorts of museums operate in a directly expropriative and exploitative manner, facilitating the taking of whatever objects happen to catch their fancy.  Their decisions are final, leaving no place for equal-footed negotiation with those affected (the stewards cultural stewards of the artifacts or communities of origin).
		</p>
		<p>
		  All this is not to say museums can never adapt a morally appropriate stance.  In this regard, el Museo Etnográfico is certainly one of the better examples I could find.  They explicitly understand and sympathize with the arguments presented here, and they aim to use their position as caretakers of culturally salient objects to spin their role on its head.  Based on the tour we had last week, they are actually in engaged in active conversation and collaboration with the communities who ultimately provided their artifacts.  They seem to be on the vanguard of the careful critical reevaluation that we will need to undergo as we seek to understand our relationships with other groups outside and beyond the traditional colonial-native narratives.  We have already seen (<i>e.g.</i> with the National Geographic piece) that other institutions are following this path.  But there is still a lot of work to be done.  It is not yet clear what a non-exploitative museum of human objects could look like, or whether that is even possible.
		</p>

  </div>
</body>
</html>
