<!DOCTYPE html>
<html>
<head>
	<title>murp.us | Scrambled ramblings & mumbled bumblings</title>
	<link rel="stylesheet" href="/styles/main.css" />
</head>

<body>
	<div id="banner">
        <div id="banner-bagus">
            <a href="/">
                <img class="icon" src="/images/bagus.png">
            </a>
        </div>
		<div id="banner-path-container">
			<div class="banner-path"><a href="/">murp.us</a></div>
			<div class="banner-path"><a href="/texts">texts</a></div>
			<div class="banner-path"><a href="/texts/scrambled-ramblings">scrambled-ramblings</a></div>
		</div>
	</div>
  <div id="content">

    <span class="right date">7 June, 2018</span>
    <h3 id="title">Scrambled ramblings &amp; mumbled bumblings</h3>

    <p>
      I'm sitting here in a bus kiosk on the corner of Nazca and Juan B. Justo on one of the first truly cold days of the year.  It poured all day yesterday, but it's too cold for that water to have had any cleansing effect.  Instead, it's just collected in puddles and under the cement street tiles.  Having had such little impact, the clouds have petulantly hung over the city all day, occasionally reminding us with a tepid sputtering of rain.  The city bustles nonetheless.
    </p>
    <p>
      I'm supposed to have some grand observations of these markets.  I'm supposed to write an essay and prepare a presentation to prove to everyone else that I could ponder everything and extract some sense.  Breath deeply and emerge with a nugget of digestible material.  That I could find myself in a strange land, buckle down, apply my learning, and interpret.  Maybe the focus should be on my lunch mishap: wandering into a Bolivian hole-in-the-wall and ordering beef stew flavored with urinal cakes.  But what's the lesson there?  Don't order food that you've never heard from before if your Spanish isn't even good enough to ask the waiter about it?  Not exactly enlightening stuff.\par
    </p>
    <p>
      Maybe I'm supposed to marvel at the wonderful ethnic mosaic at Avellaneda and San Pedrito.  Indeed, there were more black people here than anywhere else I've been in the city.  The only time I've seen more than two or three dark-skinned people since arriving was actually in Uruguay.  Here at the markets, groups of four to six young black men selling Nike sweatpants huddle around trash bags full of their wares on the corners just off the main road: Bogot\'a, Bocacay.  Few people stop to inspect their gods except the polic\'ia, shooing them around the block.\par
    </p>
    <p>
      Industry is undeniable here, of the decidedly unofficial sort.  Garbage trucks tango with taxis in the street.  Even the leaves know not to dally too long in any one place, so they brusquely bristle on towards the river.  All things sway in the irresistible, universal rhythm of the market.
    </p>
    <p>
      Unfortunately, the frenetic pace leaves no time for sitting and collecting thoughts.  No theses can emerge.  No one is even willing to sacrifice any precious real estate for a caf\'e.  The powerful momentum of experience carries us through nonetheless, or so we pray.
    </p>

    <hr>

    <p>
      This is probably the only place I've ever been where mannequins have outnumbered people.  In a vague way, these stony statues radiate a threatening indifference.  They jut out and elbow you in the aisle, clamoring for your attention.  Indeed, they're already the most fashionable.  It seems like they've show signs of adaption to the environment, developing wider hips, higher cheekbones, darker skin.
    </p>

    <hr>

    <p>
      The wildest bit is that these buildings seem so nondescript from the outside.  Like any other part of the city, brick and stucco buildings rise only three or four stories above the street for the most part.  Like everywhere, the balconies are littered with plants and laundry.  Broken Brahma bottles delimit acceptable espacios de estacionar.
    </p>
    <p>
      But hidden in every block is a clandestine catacomb.  A block might have three entrances, each one leading into a different maze.  Actually, to call them labyrinths would not really be accurate.  Each enclosure has a fairly fixed design: primarily one long hallway with twenty to thirty equally sized shops on either side.  Rules about placement of products seem to be lax.  Some stalls pin clothes and stuffed animals all the way up to the recessed roof.  The corridors generally extend for the full length of the block, creating indoor tunnels running parallel to the side streets.  Sort of like the layouts that develop in those glass ant-cages.  The general order of the establishments has that feel as well, as if the functionality bubbled up directly from use rather than bubbling down from Utility.
    </p>
    <p>
      All of these networks operate in parallel in every block.  Often there will be two or three passages layered into a single block, none of them connecting, and all filled to the brim with frugal shoppers.
    </p>

    <hr>

    <p>
      A few things seem to differentiate.
    </p>
    <p>
      Only some blast you with hot air when you enter, reminding you of the slightly altered reality unfolding between its narrow aisles.  It's not as if this heat were necessary.  There is so much activity and humanity that you are warmed up just by virtue of rubbing elbows with fellow shoppers.
    </p>
    <p>
      Only some play music.  Other rely on the individual shopkeepers to enliven their crowds.
    </p>
    <p>
      Only some offer food, removing one of the few reasons one could give for ever needing to leave.  I visited one that sold hot sandwiches, medialunas, and offered an upper-floor mini-cafeteria, the epitome of luxury in these thronging thoroughfares.
    </p>

    <hr>

    <p>
      <q>Estamos llenos de historia,</q> read the shirts.  <q>Love is back.</q>  <q>Waikiki Beach.</q>  Places and phrases seemingly chosen at random and flung onto shelves in glitter and denim.  In this way, not out of place even slightly.  Only pushing the boundaries of variation irrefutably beyond sense and meaning.  The symbols do not signify anything beyond a trace of meaning, like clearing your eyes after a dream.  A breadcrumb trail of Portuguese, Korean, English, Guaran\'i, pointing to the possibility of a collected thought, somewhere, once.
    </p>

    <hr>

    <p>
      The park outside is chilly and windy, but crowded and vibrant.  Maybe it's not actually cold, but the artificial heating has just been a little too effective in passively pumping me full of heat, another string pulling me back into capitalist paradise.  The park is an odd shape, crissed and crossed by fences of different heights, although the dogs leap over the low ones as if they were not even there.  A large brown bird perches on the central obelisk, piercingly eyes the crowd, then turns away to jot some notes into his trusty journal.  No doubt preparing a report on the behavior and customs of some local arcana.
    </p>

    <hr>

    <p>
      I wonder what makes one store in fifty so crowded?  People swarm the premises, swelling faster and faster like a cancer, choking off the circulation beyond.  Everyone clutches their catch and stares forward in stupefaction until their turn to haggle.  Eventually, globs metastasize back into the normal flow, and the human current resumes its haphazardry.
    </p>
    <p>
      Other questions: there are so many stores, how long can a particular one stay in business?  Industries like this are often races to the bottom (wages, materials, quality) with earnings following quickly.  But this street has so much gravity, it is clearly self sustaining.  Despite their PVC and wire construction, the honeycombs have clearly been around a while, and so there must be money, and plenty of it.
    </p>
    <p>
      So many options and so cheap, it's amazing that the material collectors, manufacturers, wholesalers, retailers, and rent seekers are able to take their cut.  It seems this, too, is a product of the massive transactional scale that supports such an outrageous scene.
    </p>

    <hr>

    <p>
      The thoughts presented here are scrambled ramblings, mumbled bumblings, guesses at grandeur.  This neighborhood is like a set of magnificent puzzles that have had their pieces all mixed together.  In different corners, different bits of order have coalesced, each only in conceptual conversation with only its immediate neighbors.  At the frayed edges between competing centralities, monkey-patching and glue.  If there's a dollar to be made, by God things will stay afloat long enough.
    </p>
    <p>
      Then again, maybe there is some sort of underlying order.  Maybe there are some grand architects, sitting on the second floor caf\'es and stroking their beards in satisfaction at the buzzings below.  All things accordingly to a plan, with the occasional prod to keep the gears humming in tandem with the whim of consumer opinion, just long enough to make it until the next snare.  The stall owners, the proprietors, the police, the steady stream of immigrant labor to stimulate the slow days.  But even if understood from a thousand feet up, the views on the ground are too kaleidoscopic to integrate altogether.  The snapshots are too fuzzy and the stills too mobile.
    </p>
    <p>
      Without any conceptual foothold here, the swaming energy tugs at the id.  The stream of inputs threatens to overwhelm.  Thank God for the apperceptive unity of experience.  Otherwise, who knows how many poor souls would be lost forever in these storefronts.  They, like the mannequin sentries, might be cursed to continuously parse the ebbs, never getting any closer to Truth.
    </p>
    <p>
      Well, if there is a bigger idea, I have no idea what it might be.  I'm happy just to swirl in the currents for a day or so, reminding myself of the limits of structure, coherence, and formal education.
    </p>

  </div>
</body>
</html>
